<header class="header">
  <div class="logo">
    <img src="assets/icons8-belgique-100 - Copie.png" alt="Logo">
  </div>
  <h1 class="title">Ateliers pour enfants de 3 à 12 ans</h1>
  <div class="divider"></div>
  <nav>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home</a
    >
    <a routerLink="liste" routerLinkActive="active"> Les ateliers</a>
    <a routerLink="create" routerLinkActive="active"> Ajouter un atelier</a>
    <a routerLink="inscription" routerActive="active"> S'inscrire </a>
        <a routerLink="participants" routerActive="active"> Liste des inscrits </a>

  </nav>
  <!-- <button (click)="onAddNewWorkshop()">Ajouter</button> -->
</header>