<div class="workshop-form">
  <h1>Création d'un nouvel atelier</h1>
  <form [formGroup]="workshopsForm" (ngSubmit)="onSubmit()">
    <label for="title">Atelier</label>
    <select formControlName="title" id="title">
      <option *ngFor="let atelier of atelierOptions" [value]="atelier.value">{{ atelier.label }}</option>
    </select>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <label for="age">Âge</label>
    <select formControlName="age" id="age">
      <option *ngFor="let option of ageOptions" [value]="option.value">{{ option.label }}</option>
    </select>
    <div>
      <label for="date">Date</label>
      <input id="date" type="date" formControlName="date">
    </div>
    <div>
      <label for="duration">Durée</label>
      <input id="duration" type="text" formControlName="duration">
    </div>
    <div>
      <label for="price">Prix</label>
      <input id="price" type="text" formControlName="price">
    </div>
    <div>
      <label for="imageUrl">URL de l'image</label>
      <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>
    <p></p>
    <button type="submit">Enregistrer</button>
  </form>
</div>

<div class="workshop-form-pre">
    <ng-container *ngIf="preview$ | async as preview">
    <table>
      <tr>
        <th>Titre</th>
        <td>{{ preview.title }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ preview.description }}</td>
      </tr>
      <tr>
        <th>Âge</th>
        <td>{{ preview.age }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ preview.date }}</td>
      </tr>
      <tr>
        <th>Durée</th>
        <td>{{ preview.duration }}</td>
      </tr>
      <tr>
        <th>Prix</th>
        <td>{{ preview.price }}</td>
      </tr>
    </table>
    <div *ngIf="preview.imageUrl">
      <img [src]="preview.imageUrl" alt="Image de l'atelier">
    </div>
  </ng-container>
</div>
