<h1>Liste des ateliers</h1>

<div class="workshop-card-container">
  <div class="workshop-card" *ngFor="let workshop of workshops">
    <div *ngIf="!workshop.isEditing">
      <h1>{{ workshop.title }}</h1>
      <p>{{ workshop.description }}</p>
      <p>{{ workshop.age }} ans</p>
      <p>A partir du {{ workshop.date }}</p>
      <p><span *ngIf="isWorkshopPassed(workshop.date)">L'atelier est déjà passé</span></p>
      <p>{{ workshop.price }} €</p>
      <p>Durée : {{ workshop.duration }} jour(s)</p>
      <img [src]="workshop.imageUrl" alt="Image de l'atelier" />
      <p>
        <button (click)="editWorkshop(workshop.id)">Modifier</button>
        <button (click)="removeWorkshop(workshop.id)">Supprimer</button>
      </p>
          </div>

<div class="formulaireModif">
    <div *ngIf="workshop.isEditing">
   <form [formGroup]="editForm" (ngSubmit)="saveChanges(workshop.id)">
<p><select class="common-input" formControlName="title" id="title" placeholder="Atelier">
    <option *ngFor="let atelier of atelierOptions" [value]="atelier.value">{{ atelier.label }}</option>
  </select>  </p>  
    <p><textarea class="common-input" formControlName="description" placeholder="Description"></textarea></p>
  <select class="common-input" formControlName="age" id="age">
    <option *ngFor="let option of ageOptions" [value]="option.value" placeholder="age">{{ option.label }}</option></select>
  <p><input class="common-input" type="number" formControlName="price" placeholder="Prix" /></p>
<p><input class="common-input" id="imageUrl" type="text" formControlName="imageUrl" placeholder="image"></p>
        <p><input class="common-input" type="date" formControlName="date" placeholder="Date" /></p>
        <p><button class="common-input" type="submit">Enregistrer</button> <button type="button" (click)="cancelEdit(workshop)">Annuler</button></p>
        
      </form>
      </div>
    </div>
  </div>
</div>


