<div class="landing-block">
  <div class="row">
    <div class="image-container half-size" [@fadeInOut]><img src="assets/kids.jpg" alt="kids" /></div>
    <div class="image-container half-size" [@fadeInOut]><img src="assets/car2.jpeg" alt="kids1" /></div>
    <div class="image-container half-size" [@fadeInOut]><img src="assets/car3.jpeg" alt="kids2" /></div>
  </div>
  <p>

    
  </p>
  <div class="landing-links">
    <button (click)="onContinue()">Continuer vers les ateliers</button>
  </div>
</div>
  <div class="row">
    <div class="image-container half-size" [@fadeInOut]><img src="assets/car7.jpeg" alt="kids13" /></div>
    <div class="image-container half-size" [@fadeInOut]><img src="assets/car8.webp" alt="kids12" /></div>
    <div class="image-container half-size" [@fadeInOut]><img src="assets/car11.jpeg" alt="kids11" /></div>
  </div>
  




