.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-left: 15px;
  margin-right: 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px; /* Espacement entre les lignes d'images */
  margin-left: 15px;
  margin-right: 15px;
}

.image-container {
  margin: 5px; /* Espacement entre les images */
}

.half-size img {
  width: 50%; /* Réduire la largeur de l'image à 50% */
}


.landing-links {
  width: 100%;
  text-align: center;
}

button {
  font-size: 20px;
}